.cart-product {
    margin-bottom: 1rem;
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    height: 150px;
  }
  
.cart-product-image {
  width: 200px;
  object-fit: contain;
  border-radius: 10px;
}
  
.cart-product-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
}

.cart-product-title {
  font-size: 1rem;
  font-weight: bold;
}

.cart-product-price {
  font-size: 1rem;
  font-weight: bold;
}

.cart-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-top: -5px; */
  padding: 0.7rem;
}

.cart-product-qty {
  display: flex;
  align-items: center;
}

.cart-product-qty input {
  padding: 10px;
  margin-left: 0.6rem;
  width: 60px;
  margin-top: 5px;
  border-radius: 10px;
  
  border: 1px solid #333333;
  /* outline: none; */

}

.remove-cart-button {
  width: 50px;
  height: 50px;
  border: 1px solid #333333;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  outline: none;
  margin-left: 10rem
}

.remove-cart-button:hover {
  transform: scale(1.2) rotate(360deg);
  background-color: rgb(209, 15, 15);
}

.remove-cart-button img {
  width: 25px;
  height: 25px;
}